*
{margin:10;
    padding: 20;

} 

body { 
    background-position: 20mm;
    background-image:url(https://www.facebook.com/photo.php?fbid=2172047789488997&set=t.706517480&type=3&theater);
    background-attachment: fixed;
    background-color: aquamarine;
    
    

}


header {
    background-image:url(shalom.js);
    
    color: #111;
    height: 100px;
    padding: 10px;
    font-weight: 100;
    
}
title {
    font-size: 10%
}

h1 {
    background-image: url(shalom.js);
    font-size: 35px;
    font-weight: bold;
}

main {
    margin: 25px;
}

ul {
    list-style-type: square;
    
}

li {
    margin-left: 10px;
}

footer {
    background:rgb(15,15,15);
    color: #111;
    padding: 50px;
}